*.exe
*.o
**/tempCodeRunnerFile.c
DataStructures/HashTables/BasicHashTable
DataStructures/HashTables/BasicHashTable.exe
DataStructures/BinaryTrees/AVLTree.exe
Algorithms/Sorting/InsertionSort
Algorithms/Sorting/Bubblesort
Algorithms/Sorting/SelectionSort.exe
Algorithms/Sorting/SelectionSort
InstallationTest/helloWorld.exe
